<img class="country-info__logo" src="{{flags.svg}}" alt="{{name.official}}">
      <h1 class="country-info__heading">{{name.official}}</h1>
      <ul class="country-info__list">
        <li class="country-info__item"><span class="country-info__span">Capital:</span>{{capital}}</li>
        <li class="country-info__item"><span class="country-info__span">Population:</span>{{population}} people</li>
        <li class="country-info__item"><span class="country-info__span">Language:</span>{{languages}}</li>
      </ul>